@model IEnumerable<FitSystem.Models.Treino>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dia.ExercicioTreinoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dia.ExercicioTreinoId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TreinoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TreinoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TreinoId })
        </td>
    </tr>
}

</table>
